<div ng-include="'components/navbar/navbar.html'"></div>

<div class="col-md-12">

    <div class="row" ng-if="loggedIn">
        <div class="col-md-6">
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
            <form role="form" ng-submit="add(plName)">

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">Name</div>
                        <input class="form-control" ng-model="plName" type="text" placeholder="Enter name" id="playlistName">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default">Add</button>
                        </div>
                    </div>

                </div>

            </form>
        </div>
    </div>



    <!--button ng-click="add()">Add</button-->
    <div class="row">
        <div class="col-md-6">
            <div class="panel">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h2>Playlists</h2>
                </div>

                <!-- Table -->
                <table class="table table-striped" id="plist" style="width: 100%;">
                    <thead>
                        <th>Name</th>
                        <th>Created by</th>
                        <th></th>


                    </thead>
                    <tbody>
                        <tr ng-repeat="playlist in playlists track by $index">
                            <td><a href="/playlist-info/{{playlist._id}}">{{playlist.name}}</a>
                            </td>
                            <td >{{playlist.owner.name}}</td>
                            <td><span class="fa fa-trash-o" ng-click="deleteModal(playlist)"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>


        <div class="col-md-6">
            <div class="panel">
                <div class="panel-heading">
                    <h2>My profile</h2>
                </div>
                <div class="panel-body">
                    <p><strong>Name: </strong>{{user.name}}</p>
                    <p><strong>Email address:</strong> {{user.email}}</p>
                </div>
            </div>
        </div>
    </div>
</div>