<div ng-include="'components/navbar/navbar.html'"></div>

<div class="col-md-12" >
 <div class="">
  <div class="row">
    <div class="col-md-6 col-md-offset-5">
      <h1>Playlist</h1></div>

    </div>

    <div class="col-md-6">
      <div class="panel" id="track-info">
        <div class="panel-heading"><h1 ng-click="toggleModal()">Now playing:</h1> </div>
        <div class="panel-body"> 

          <img src="{{currentTrack.artwork_url}}"><br>
          {{currentTrack.title}}

          <div class="col-md-12">

            <button ng-if="!isPlaying" class="btn btn-lg btn-success" ng-click="play()">Play!</button>
            <button ng-if="isPlaying" class="btn btn-lg btn-danger" ng-click="pause()">Pause!</button>
            <button class="btn btn-lg btn-warning" ng-click="notAllowed()">Skip!</button>
          </div>
        </div>

      </div>



      <div class="panel">
        <!-- Default panel contents -->
        <div class="panel-heading">Playlist</div>

        <!-- Table -->
        <table class="table table-striped" id="plist" style="width: 100%;">
          <thead>
            <th></th>
            <th></th>

          </thead>
          <tbody>
            <tr ng-repeat="item in playlist track by $index">
              <td>{{item.title}}</td>
              <td><span class="fa fa-remove" ng-click="removeTrack(item)"></span></td>
            </tr>
          </tbody>

        </table>
      </div>
    </div>





    <div class="col-md-6">

      <div class="panel">

        <div class="panel-heading">Search for songs</div>



        <!--button class="btn btn-info" ng-click="search(searchStr)">Search!</button-->
        <!--Sen ska man kunna välja vilka man vill ha med i playlist-->


        <form ng-submit="search(searchStr,nrSearchRes)" class="form-inline">
            <div class="col-md-12">
            <div class="form-group">
            
              <input type="text" class="form-control" name="searchstring" ng-model="searchStr">
          
              <!--div class="input-group-btn"-->
                <button type="submit" class="btn btn-default">Search</button>

              <!--/div--><!-- /btn-group -->
            <!-- /input-group -->
            </div>
               
              <div class="form-group"> Max results:
            <select class="form-control" ng-model="nrSearchRes" ng-options="number for number in numbers"></select>
              </div>
          </div><!-- /.col-md-12 -->
          
        </form>
        
        <div class="scrollable">                
          <table class="table table-striped" id="results" style="width: 100%;">
          
            <thead>
              <th>Search results:</th>
            </thead>

            <tbody>

              <tr ng-repeat="item in searchResult">
                <td>{{item.title}}</td>
                <td ng-click="addToPlayList(item)"><span class="fa fa-plus"></span></td>

              </tr>
            
            </tbody>
            
          </table>
        </div>  
    
      </div>
    </div>



    <!-- For Collaborators and Add collaborators -->
    <div class="col-md-6">

      <div class="panel">
        <h1> Collaborators</h1>
        <ul>
          <li ng-repeat="collaborator in collaborators">{{collaborator.name}}</li>
        </ul>
      </div>
    </div>

    <div class="col-md-6">

      <div class="panel">
        <h1 ng-click="getFriendsList()"> Add Friends</h1>
        <ul>
          <li ng-repeat="friend in friendsList" ng-click="addCollaborator(friend)">{{friend.name}}</li>
        </ul>
      </div>
    </div>



  </div>
</div>  

<!--div ng-include="'app/playlist/song-layover.html'"></div-->


